.section {
    background-color: #5e878a;
    font-family: "lucida sans unicode", "lucida grande", "sans-serif";
}

.contacts {
    height: 40px;
    width: 40px;
}

.self {
    height: 150px;
    width: 150px;
}

body {
    font-size: 14px;
    font-weight: bold;
    font-family: cursive, monaco, monospace;
}



