.header {
  border-bottom: 7px solid black;
  width: 100%;
  color: black;
  font-family: monospace, sans-serif;
  background-color: #cbcccb;
  height: 265px;
}

#name {
  line-height: 6;
  font-size: 30px;
}

.aboutme {
  display: inline-block;
  text-align: right;
  justify-content: right;
  color: black;
}

#aboutme2 {
  float: right;
  list-style: none;
  text-align: right;
  justify-content: right;
  display: inline-flex;
  padding: 10px;
  margin: 5px;
}

li {
  padding-left: 20px;
  list-style: none;
  display: inline-flex;
  font-size: 24px;
}
.section {
  font-family: monospace, sans-serif;
  text-align: center;
  background-color: black;
  opacity: 0.9;
}

.projects {
  text-align: center;
  font-size: 30px;
  color: black;
}

.fonts {
  color: black;
  padding: 50px;
  text-align: center;
}

a:hover {
  transition: all 0.2s ease-in-out;
  opacity: 0.6;
}

.contacts {
  height: 40px;
  width: 40px;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

.self {
  height: 150px;
  width: 150fpx;
  text-align: right;
}

img {
  max-width: 90%;
}

body {
  font-size: 20px;
  font-weight: bold;
  font-family: monospace, sans-serif;
  color: white;
}

.inline {
  display: inline;
  list-style-type: none;
  font-size: 60px;
  margin-right: 1rem;
  cursor: pointer;
  color: white;
  line-height: 10rem;
}

.background {
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
  background-size: cover;
  background-position: center;
}

.inline:hover {
  color: black;
  transition: all 200ms ease-in;
  text-decoration: none;
}

.bottom {
  text-align: center;
  background-color: #cbcccb;
  height: 175px;
  border-bottom: 4px solid black;
}

#contact {
  font-size: 17px;
  text-align: center;
  letter-spacing: 1px;
  color: black;
  padding-left: 20px;
}

@media only screen and (mad-width: 992px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    display: block;
    width: 100%;
  }
  .content {
    display: block;
    width: 100%;
  }
}

@media only screen and (mad-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    display: block;
    width: 100%;
  }
  .content {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 960px) {
  .main .bigColumn {
    width: 100%;
  }
  .main .adColumn {
    display: none;
  }
}

@media only screen and (max-width: 567px) {
  .main .bigColumn {
    width: 100%;
  }
  .main .adColumn {
    display: none;
  }
  .image-size {
    width: 100%;
  }
}
